<div class="row top-buffer">
    <h2>Newsfeed</h2>
</div>
<div class="row">
    <div uib-alert ng-repeat="alert in $ctrl.alerts" ng-class="'alert-' + (alert.type)"
         close="$ctrl.closeAlert($index)">
        {{alert.msg}}
    </div>
</div>
<div class="row top-buffer">
    <button type="button" class="btn btn-primary" ng-click="$ctrl.crawl()">Fetch news</button>
    <button type="button" class="btn btn-info" ng-click="$ctrl.fetchAdditional()">Fetch additional results</button>
</div>
<div class="row top-buffer">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">Crawled content ({{ $ctrl.dateFetched }})</div>
            <table class="table">
                <thead>
                <tr>
                    <th>XPath</th>
                    <th>URL</th>
                    <th>Content</th>
                    <th>Copy to clipboard</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="web in $ctrl.getCrawledContentDisplay()">
                    <td>{{web.XPathUsed}}</td>
                    <td>
                        <a target="_blank" href="{{web.crawledUrl}}">{{web.crawledUrl}}</a>
                    </td>
                    <td class="text"><span>{{web.content}}</span></td>
                    <td><span><button class="btn btn-default" ng-click="$ctrl.copy(web.content)"
                                      tooltip-placement="bottom-left" uib-tooltip="{{web.content}}"><i
                            class="fa fa-files-o fa-lg" aria-hidden="true"></i></button></span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <ul uib-pagination total-items="$ctrl.totalItems" ng-model="$ctrl.currentPage" max-size=5
            class="pagination-sm" boundary-links="true" rotate="false" force-ellipses="true"></ul>
    </div>
</div>