<div class="row top-buffer">
    <h2>Stations list</h2>
</div>
<div class="row top-buffer bottom-buffer">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">Stations</div>
            <table class="table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>latitude</th>
                    <th>longtitude</th>
                    <th>air-quality-idx</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="locationPoint in filterData = ($ctrl.locationPointsAll | filter:$ctrl.query) | limitTo:10:10*($ctrl.currentPage-1)">
                    <td>{{locationPoint.id}}</td>
                    <td>
                        <a href="#!/location_point/{{locationPoint.name}}/{{locationPoint.id}}">{{locationPoint.name}}</a>
                    </td>
                    <td>{{locationPoint.latitude}}</td>
                    <td>{{locationPoint.longtitude}}</td>
                    <td>
                        <div ng-class="{'alert alert-success': $ctrl.isSuccess(locationPoint), 'alert alert-warning': $ctrl.isWarning(locationPoint), 'alert alert-error': $ctrl.isError(locationPoint)}"
                             style="padding: 5px; margin-bottom: 0">
                            {{locationPoint.airQualityIndex.stIndexLevel.indexLevelName}}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <ul uib-pagination total-items="$ctrl.totalItems" ng-model="$ctrl.currentPage" max-size="$ctrl.maxSize"
            class="pagination-sm" boundary-links="true" rotate="false" ng-change="$ctrl.getLocationPointDisplay()"
            force-ellipses="true"></ul>
    </div>
</div>